{% extends "content.html" %}

{% block title %} My Account | {{super}} {% endblock title %}


{% block main %}
<h4>Your Account</h4>
<a class="action" href="logout/">logout</a>

<hr>

<h2>{{user.name}}</h2>
<h4>{{user.email}}</h4>

<h3>My Profile</h3>
<p>{{user.story}}</p>
<a class="action" href="{% url 'edit_floatsam' user.slug %}">edit my profile</a>


<h3>Connection Requests</h3>
<p>Here we list the requests of people who want to connect with you and your projects.  You can accept or deny them!</p>
{% for connection in connectionrequests %}
  <hr>
  <div class="request">
    <strong>{{ connection.initiator.name }} -> {{ connection.recipient.name }}</strong>
      <a target="_blank" class="action async" href = "{% url 'accept_request' initiator_slug=connection.initiator.slug recipient_slug=connection.recipient.slug %}">accept request</a>
      <a target="_blank" class="action async"  href = "{% url 'deny_request' initiator_slug=connection.initiator.slug recipient_slug=connection.recipient.slug %}">deny request</a>
  </div>
{% endfor %}

<h3>Jetsam</h3>
<p>Jetsam is the work that you or your projects (constellations) have made.  Here you can edit them.  To add Jetsam, navigate to the Constellation in the galaxy (homepage) and then add it there.</p>
{% for jetsam in user.jetsam_set.all %}
  <hr>
  <div class="jetsamadmin">
    <strong>{{jetsam.name}} | {{jetsam.maker.name }}</strong>
    <a class="action" target=_blank href="{% url 'add_jetsam' jetsam.maker.slug jetsam.slug %}">edit</a>

  <a class="action" target=_blank href="{% url 'delete_jetsam' jetsam.slug %}">delete</a>
  </div>
{% endfor %}

<h3>Coven</h3>
<p>Your Coven is the Stars and Constellations that you are connected to.  You can edit the Constellations that you are part of.</p>
{% for floatsam in user.coven.all %}
  <hr>
  <div class="jetsamadmin">

  <strong>{{ floatsam.name}} |

  {% if floatsam.constellation %}
    Constellation
  {% else %}
    Star
  {% endif %}</strong>

  {% if floatsam.constellation %}
    <a class="action" href="{% url 'edit_floatsam' floatsam.slug %}">edit</a>
  {% endif %}

  </div>
{% endfor %}

<hr>
<p>Click "Add Constellation" to add a new project (a band, a collective, a group) to the network.  Other members can then request a connection with this project.</p>
<a class="action" href="{% url 'add_floatsam' %}">Add Constellation</a>


{% endblock main%}

