@font-face {
  font-family: 'liturgisch';
  src: local('☺'),
        url('font/Liturgisch.ttf') format('truetype'),
        url('font/Liturgisch.otf') format('opentype');
}

@font-face {
  font-family: 'iosevka';
  src: local('☺'),
        url('font/iosevka-regular.ttf') format('truetype'),
}

html, body{
  margin:0;
  padding:0;
}

body{
  font-family:"iosevka";
  background-color: #001848;
  color:#888;
  font-size:12px;
  background-image:url("/static/sky.jpg");
  background-size:cover;
  background-position: right bottom;
  background-attachment: fixed;
}



h2.logo{
  /*color:#eaa;*/
  color:black;
  letter-spacing:-.03em;
  font-size: 4em;
  font-weight:normal;
  margin:0;
  font-family: 'liturgisch','UnifrakturMaguntia', cursive;
}

h1,h2,h3{
    font-family: 'liturgisch','UnifrakturMaguntia', cursive;
      font-weight:normal;
}

h1,h2,h3,h4{
      color:black;

}

.logo{
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:20;
}

a{
  color:#000;
}

p{
  line-height:1em;
}

hr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)); }

.mainmenu{
  position:fixed;
  bottom:0;
  width:100%;
  z-index:30;
  text-align:right;
  color: black !important;
}


.content p{

  max-width:45em;
}

/* homepage */


.link {
  stroke: #fff;
}

.node {
  fill: #fff;
  stroke: #fff;
}

text{
  color:#888;
}
html,body{
  height:100%;
}

viz{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  z-index:1;
}


#infomain{
  position:fixed;
  background-color:white;
  height:100%;
  width:30em;
  left:0;
  top:0;
  z-index:999999;
  overflow-y:scroll;
      box-shadow: 1px 0px 30px 1px rgba(0,0,0,.5), inset 0 -10px 10px -10px #000000;
  background-color: #f6f6f6;
}

#infomain::-webkit-scrollbar {
    display: none;
}

.infomain_inner{
  padding-left:2em;
  padding-right:2em;
  padding:1em 2em;
}

#floatsam_image, .jetsam_image{
  background-size: cover;
  height:250px;
  width:100%;
}

.jetsam{
  padding: 1em;
  margin: 1em;
  background-color: white;
  }

#mom{
  width:100% !important;
  height:100% !important;
}


.content {
  max-width:800px;
  position: relative;
  margin: 20 auto;
  background-color:white;
  margin-left:5em;
  padding:5em;
  overflow: hidden;
}

.content h1, .content h2, .content h3{
        margin-top:1em;

}

input, textarea, select, button{
  color:white;
  background-color:rgba(0,0,0,.5);
  border:0;
  padding:.5em;
  font-family: "iosevka";
}

input[type="submit"]{
  font-size:3em;
}

.action, input[type="submit"]{
  background-color:#4D1926;
  color:white;
  float:right;
  padding:0 1em;
  margin:0 1em;
  cursor: pointer;
}

.halfwidth{
  width:49%;
  float:left;
}

.formlabel{font-weight:bold;}