{% extends 'base.html' %}



{% block main %}

<h1> About Folkroutes </h1>

<div id="page">


  <p>An experiment to represent a physical network as a browsable digital presence using  metaphors of the universe and the ocean.</p>

  <h4>Vocabulary</h4>

  <h5>Star</h5>

  <h5>Constellation</h5>

  <h5>Floatsam</h5>

  <h5>Jetsam</h5>

  <p>Members of the network (floatsam) can log in and cast jetsam into the void.  Visitors can look, listen, browse, and see the real connections of this network.</p>

  <p>a project of <a href="http://niko.io">niko.io</a> and <a href="http://great-falls.net">great falls</a></p>


  <p>Made with open source technologies including: django, d3.js, underscore.js, and a whole lot of ajax.  You can <a href="https://github.com/nikonikoniko/folkroutes">clone it on github</a></p>
</div>
{%  endblock %}