{% extends 'content.html' %}



{% block main %}

<h1> About Folkroutes </h1>

<div id="page">


    <p>An experiment to represent a physical network as a browsable digital presence using  metaphors of the universe and the ocean.</p>

  <h3>Vocabulary</h3>

    <h4>Star</h4>
    <p>a star is a point in the network that can log in to the website, create floatsam, and make changes.<p>

    <h4>Constellation</h4>
    <p>constellations are natural occurrances of connections<p>

    <h4>Floatsam</h4>
    <p>Can be a person, a project, a band, a collective, or some connecting element.  Users can create and join floatsam.<p>

    <h4>Jetsam</h4>

    <p>Members of the network (floatsam) can log in and cast jetsam into the void.  Visitors can look, listen, browse, and see the real connections of this network.</p>

  <h3>Contact</h3>

      <p>email: <a href="mailto:folkroutes@gmail.com">folkroutes@gmail.com</a></p>

  <h3>Meta</h3>

    <p>a project of <a href="http://niko.io">niko.io</a> and <a href="http://great-falls.net">great falls</a></p>


  <p>Made with open source technologies including: django, d3.js, underscore.js, and a whole lot of ajax.  You can <a href="https://github.com/nikonikoniko/folkroutes">clone it on github</a></p>
</div>
{%  endblock %}