<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} FolkRoutes | beta </title>
    <meta content="Home | Me and my Shadow" property="og:title" />
    <meta content="Increase your pri&amp;quot;&amp;quot;vacy Online" name="description" />
    <meta content="Increase your pri&amp;quot;&amp;quot;vacy Online" name="twitter:card" />
    <meta content="Increase your pri&amp;quot;&amp;quot;vacy Online" name="og:description" />
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:site" content="@ononymous">
    <meta name="twitter:creator" content="@ononymous">
    <meta property="og:url" content="https://myshadow.org/">
    <meta name="twitter:url" content="https://myshadow.org/">

    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/static/main.css">

    {% block headscripts %}{% endblock %}

  </head>
  <body>

    {% include "seconduser/include/userloggedin.html" %}



    {% block main %}

    {% endblock %}



    {% block javascripts %}{% endblock %}


  </body>