<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} folkroutes | very beta </title>
    <meta content="Home | Folkroutes" property="og:title" />
    <meta content=" " name="description" />
    <meta content="" name="twitter:card" />
    <meta content="" name="og:description" />
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta property="og:url" content="https://folkroutes.org/">
    <meta name="twitter:url" content="https://folkroutes.org/">

    <link rel="stylesheet" type="text/css" href="/static/components/typebase.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">

    {% block headscripts %}{% endblock %}

  </head>
  <body>

  <div class="mainmenu">
    <a href = "/">galaxy</a> |
    <a href = "/directory">directory</a> |
    <a href="/about">about</a> |
    {% include "seconduser/include/userloggedin.html" %}
  </div>

  <h2 class = "logo">Folkroutes</h2>

    {% block mainwrapper %}

      {% block main %}

      {% endblock %}

    {% endblock mainwrapper %}



    {% block javascripts %}{% endblock %}


  </body>