{% extends 'content.html' %}



{% block main %}




<h1>Directory</h1>

<hr>

<div class="halfwidth">

  <h3>Floatsam</h3>

  <h4>Constellations</h4>
  {% for item in constellations %}
    <li>{{ item.name }}</li>
  {% endfor %}

  <h4>Stars</h4>
  {% for item in stars %}
    <li>{{ item.name }}</li>
  {% endfor %}

</div>

<div class="halfwidth">

  <h3>Jetsam</h3>
  {% for item in jetsam %}
    <a href="{% url 'jetsam_detail' slug=item.slug %}">
      <li>{{ item.name }} | {{item.maker.name}}</li>
    </a>
  {% endfor %}
</div>


{%  endblock %}